<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<title>JankyWatch</title>
<style type="text/css">
{% include "jankywatch.css" %}
</style>
</head>
<body>
  {% raw %}
  <div id="wrapper">
    <h1>JankyWatch</h1>
    <div class="wifi-config">
      <div v-for="(network, index) in networks" class="network" v-bind:class="{selected: selected_network == index}" v-on:click="select_network(index)">
        <div class="ssid">{{ network.s }}</div>
        <form class="connect-opts" v-if="selected_network == index" v-on:submit="connect" v-bind:data-ssid="network.s" v-bind:data-enc="network.e" v-bind:data-psk="network.psk" v-bind:data-index="index">
          <span v-if="network.e != 'open'"><input type="password" placeholder="Password" v-model="network.psk" class="psk" v-bind:data-index="index"/></span>
          <span class="rssi" v-bind:data-rssi="network.r">{{ network.r }}</span>
          <span class="status">{{ network.status }}</span>
          <input type="submit" value="connect">
        </form>
      </div>
    </div>
  </div>
  {% endraw %}
  <script type="text/javascript">
  {% include "vue.min.js" %}
  {% include "jankywatch.js" %}
  </script>
</body>
</html>
