html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
}

#wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.ssid {
  cursor: default;
  /* border: solid red 1px; */
  font-weight: bold;
}

.network {
  border-bottom: solid grey 1px;
  padding: 0.5em;
}

.network:hover {
  background-color: #EEF;
}

.connect-opts {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
